:root {
  --holberton-red: #e1484c;
}

.App {
  position: relative;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-bottom: 3px solid var(--holberton-red);
}

.App-header img {
  width: 200px;
}

.App-header h1 {
  margin: auto auto auto 0;
  color: var(--holberton-red);
}

.App-body {
  font-size: 1rem;
  padding: 2em;
  height: 45%;
}

.App-body .container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-footer p {
  text-align: center;
  border-top: 3px solid var(--holberton-red);
  padding: 1.2rem;
  font-style: italic;
}